<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="com/yedam/common/db.properties" />


	<settings>

		<setting value="true" name="mapUnderscoreToCamelCase" />

		<setting value="NULL" name="jdbcTypeForNull" />

	</settings>


	<typeAliases>

		<typeAlias type="com.yedam.domain.Employee" alias="employee" />

		<typeAlias type="com.yedam.notice.domain.NoticeVO"
			alias="notice" />

		<typeAlias type="com.yedam.member.domain.MemberVO"
			alias="member" />
		
		<typeAlias type="com.yedam.notice.domain.ReplyVO"
			alias="reply" />

	</typeAliases>


	<environments default="development">


		<environment id="development">

			<transactionManager type="JDBC" />


			<dataSource type="POOLED">

				<property value="${driver}" name="driver" />

				<property value="${url}" name="url" />

				<property value="${username}" name="username" />

				<property value="${password}" name="password" />

			</dataSource>

		</environment>

	</environments>


	<mappers>

		<mapper resource="com/yedam/notice/mapper/NoticeMapper.xml" />

		<mapper resource="com/yedam/member/mapper/MemberMapper.xml" />
		
		<mapper resource="com/yedam/notice/mapper/ReplyMapper.xml" />

	</mappers>

</configuration>